* { margin: 0; padding: 0; }
body { Arial, sans-serif; background: #C8CBCF;}
html {
	font-size: 100%;
}
/*article, aside, figure, footer, header, nav, section { display: block; }*/

/* Embed fonts **************************************************/
@font-face {
	font-family: 'regular';
	src: url('../fonts/Lato-Regular.eot');
	src: local('☺'), url('../fonts/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular.ttf') format('truetype'), url('../fonts/Lato-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*
@font-face {
	font-family: 'bold';
	src: url('../fonts/Lato-Bold.eot');
	src: local('☺'), url('../fonts/Lato-Bold.woff') format('woff'), url('../fonts/Lato-Bold.ttf') format('truetype'), url('../fonts/Lato-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/
@font-face {
	font-family: 'black';
	src: url('../fonts/Lato-Black.eot');
	src: local('☺'), url('../fonts/Lato-Black.woff') format('woff'), url('../fonts/Lato-Black.ttf') format('truetype'), url('../fonts/Lato-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Pagewrap **************************************************/
.pagewrap {
	max-width: 940px;
	height: auto;
	margin: 70px auto 0 auto;
}


/* Sprite Logo **************************************************/
.logo {
	float: left;
	display:block;
	width: 150px;
	height: 150px;
	background: url('../images/logosprite.jpg') no-repeat;
	background-position:0 0;
	cursor: pointer;
}

.header {
	position: relative;
	float: right;
	margin-right: 410px;
	margin-top: 15px;
}
.subtitle  {
	font-size: 15px;
	font-family: 'regular';
	color: #BB6218;
	text-align: center;
	letter-spacing: 2px;
	margin-top: -10px;
	margin-left: 20px;
}

.holder {
	clear: both;
	position: relative;
}

ul {
	text-decoration: none;
	list-style: none;
	float:left;
	width: 90%;
	left: 6%;
	top:110px;
	position: relative;
}

.button a {
	float:left;
	text-decoration:none;
	font-family: 'regular';
	color:white;
	font-size: 18px;
	position: relative;
	width: 264px;
	padding: 16px 0;
	background: #23A552;
	text-align: center;
	text-decoration: none;
	margin-right: 10px;
}
.button a:hover {
	box-shadow: 4px 4px 0px #BB6218;
	margin-top: -4px;
	
}

.button {
	
	display: inline;
	
}

.button.bl a {
	background: #277DBA;
}


.button.rd a {
	background: #BB6218;
}

.par,.list,.link a {
	font-family: 'regular';
	font-size: 22px;
	line-height: 30px;
	color: #706F6F;
	position: relative;
	top: 50px;
}

.vid {
	margin-top: 30px;
}

.link a {
	top: 10px;
}


.manual  {
	top:80px;
	position: relative;
}

.manual.tr,.manual.pu,.manual.co,.manual.do {
	top:120px;
	position: relative;
	margin-bottom: 60px;
}

.donate {
	margin-top: 0;	
}

.list {
	top:10px;
	margin-bottom: 4px;
}

.dot {
	width: 13px;
	height: 13px;
	background: #F3C600;
	box-shadow: 2px 2px 0 #b76628;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin-right: 10px;
	font-size: 13px;
	top:-20px;
}
.logo span.hover {
	
	display: block;
	width: 150px;
	height: 150px;
	background: url('../images/logosprite.jpg') no-repeat;
	background-position: bottom;
}
.manual.co {
	padding-bottom: 100px;
}

.manual.co a,.link a{
	text-decoration: none;
	color: #b76628;
}

.manual.co a:hover,.link a:hover{
	text-shadow: 1px 1px 0 #fff;
	box-shadow: 0 0 0 #BB6218;

}


/* Buy Icon Logo **************************************************/
.buy {
	display: block;
	width: 170px;
	height: 112px;
	background: url('../images/buysprite.png') top;
}

.buy:hover {
	background-position: 0 112px;
	opacity: 0;
	cursor: pointer;
}

h1,h2 {
	font-family: 'black';
	font-size: 88px;
	color: #efc319;
	text-shadow: 4px 4px 0 #b76628;
}

h2 {
	font-size: 48px;
}

span.link {
	color: #b76628;
}

.fancybox img {
	margin-top: 10px;
	margin-right: 5px;
}

.images {
	margin-left: 27px;
	margin-bottom: 12px;
}

a:-webkit-any-link {
	text-decoration: none;
}

.color {
	-webkit-transition: 0.5s all ease-out; -o-transition: 0.5s all ease-out;
	-moz-transition: 0.5s all ease-out; transition: 0.5s all ease-out;
	transition: 0.5s all ease-out; transition: 0.5s all ease-out;
}

.images a img{
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%); 
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: url(desaturate.svg#greyscale);
	filter: gray;
	-webkit-filter: grayscale(1);
	   
}

.images a img:hover{
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%); 
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
	filter: none;
	-webkit-filter: grayscale(0);
}

@media (max-width: 900px) {
	.pagewrap {
		margin: 10px 10px 0 10px;
	}

	.logo {
		margin-top: 0;
		
	}
	.vid {
		width: 100% !important;
	}

	.header {
		margin-right: 10px;
		
	}

	h1 {
		font-size: 5em;
	}
}

@media (max-width: 480px) {

	h1 {
		font-size: 3.5em;
		margin-top: 15px;
	}

	.subtitle {
		font-size: 0.75em;
		margin-top: 2px;
	}
}

@media (max-width: 402px) {

	h1 {
		font-size: 3.0em;
		margin-top: 25px;
	}

	.subtitle {
		font-size: 0.58em;
		margin-top:-2px;
	}
}
